/*  구글 웹폰트 로딩  */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

section.main1 .img{
  
  animation: uprise 1s;

}

footer h2{
  color: #881c8f;
  font-weight: 700;
  margin: 40px;
}
footer h2 span{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px;
  margin: 50px;
  /* background: skyblue; */
  color: gray;
}
footer ul li.en{
  color: #727272;
  font-weight: 600;
  font-size: 15px;
  margin-left: 30px;
}
footer ul li{
  color: #727272;
  font-size: 13px;
  margin: 30px;
}
footer ul.icon{
  display: inline-flex;
  padding: 20px 0;
  float: right;
  margin-top: 20px;
  margin-right: 200px;
  text-decoration: none;
}
footer ul.icon li{
  margin-right: 25px;
  font-size: 24px;
}
footer ul.icon li:last-child{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 4px 10px 4px 6px;
}